*.DS_Store
*.sqlite
*.db
*.swp
*.pyc
*.swo
.project
.idea
website/token.py
.vagrant
run.sh
settings.sh
installation.txt
uwsgi_command.txt
uwsgi_setup.ini
nginx_setup.conf
notes.txt

# python dot-env settings file.
# Don't include in commits!
.env

