<p>
    Congratulations, your mentorship request has been accepted! <br/><br/>

    Please reach out to your mentor at their email address
    below in order to complete the 3-way handshake. We recommend introducing yourself, as well as providing some guidance
    as to what you are hoping to achieve with your mentorship, general availability etc. <br/><br>

    Mentor contact email: {{ contact }} <br/><br/>

    When it finally comes time to complete your mentorship, either you or your mentor can reset your status through the
    "Settings" page once you log in. Thank you for being part of the InfoSec Mentor Project!
</p>

<p>
    Cheers,<br/>
    Keith
</p>
<p>
    ----------------<br/>
    K. Hoodlet ( <a href="https://www.twitter.com/andMYhacks">@andMYhacks</a> )<br/>
    Co-Founder, <a href="https://infosecmentors.net/">InfoSec Mentors Project</a><br/>
</p>