<p>
    This email was sent to inform you that <strong>your apprentice has opted to complete the current mentorship arrangement</strong>.<br/><br/>
    Thank you for participating in the InfoSec Mentors Project - we hope you acquire a new apprentice soon!
</p>
<p>
    Cheers,<br/>
    Keith
</p>
<p>
    ----------------<br/>
    K. Hoodlet ( <a href="https://www.twitter.com/andMYhacks">@andMYhacks</a> )<br/>
    Co-Founder, <a href="https://infosecmentors.net/">InfoSec Mentors Project</a><br/>
</p>