{% extends "profile.html" %}
{% from "form_macros.html" import render_field %}

<br/>
{% block content %}
    <section id="login">
        <section style="text-align:center"><h1>Please Provide your Email Address:</h1></section>
        <form action="" method="post">
            {{  form.hidden_tag() }}
            <table>
                {{ render_field(form.email_address, size=30) }}
            </table>
            <div id="connect">
                <input type="submit" name="submit" value="Forgot Password">
            </div>
        </form>
    </section>

{% endblock %}
