<p>You have a new Mentorship request from the InfoSec Mentors Project! To see the requestor's profile, please follow the link below<br/><br/>
    <a href="https://infosecmentors.net/user/{{ id }}">https://www.infosecmentors.net/user/{{ id }}</a>

    To accept this mentorship request, please click the link below. Please note that this link will expire in 72 hours.</p>
    <p>
        <a href="{{ confirm_url }}">{{ confirm_url }}</a>
    </p>
<p>
    Cheers,<br/>
    Keith
</p>
<p>
    ----------------<br/>
    K. Hoodlet ( <a href="https://www.twitter.com/andMYhacks">@andMYhacks</a> )<br/>
    Co-Founder, <a href="https://infosecmentors.net/">InfoSec Mentors Project</a><br/>
</p>