<p>
    Hello - this message is from the InfoSec Mentors Project. <br/><br/>

    We have some bad news, and some good news. <br/><br/>

    The bad news is that, unfortunately, we were unable to locate your email amongst our registered users.
    The good news is that you can register for the InfoSec Mentors Project using the following link:
<p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>
<p>
    We look forward to having you participate in the awesome experience that is mentorship!
</p>

<p>

    Cheers,<br/>
    Keith
</p>
<p>
    ----------------<br/>
    K. Hoodlet ( <a href="https://www.twitter.com/andMYhacks">@andMYhacks</a> )<br/>
    Co-Founder, <a href="https://infosecmentors.net/">InfoSec Mentors Project</a><br/>
</p>
