{% extends "profile.html" %}
{% from "form_macros.html" import render_field %}

<br/>
{% block content %}
    <section id="login">
        <section style="text-align:center"><h1>Please fill out the following items</h1></section>
        <form action="" method="post">
            {{  form.hidden_tag() }}
            <table>
                {{ render_field(form.password, size=25) }}
                {{ render_field(form.repeated_password, size=25) }}
            </table>
            <div id="connect">
                <input type="submit" name="submit" value="Reset Password">
            </div>
        </form>
    </section>

{% endblock %}

