<p>
    Hello - this message is from the InfoSec Mentors Project. <br/><br/>
    If you have requested a Password Reset, please click the following link to establish a new password:
<p>
    <a href="{{ confirm_url }}">{{ confirm_url }}</a>
</p>
<p>
    We recommend using a password manager, such as KeePassX or MiniKeePass, to securely store (and keep
    track of) your passwords. It is considered good security hygiene to use complex, unique passwords for
    every site you utilize - so please be sure to continue that habit with the InfoSec Mentors Project!
</p>

<p>

    Cheers,<br/>
    Keith
</p>
<p>
    ----------------<br/>
    K. Hoodlet ( <a href="https://www.twitter.com/andMYhacks">@andMYhacks</a> )<br/>
    Co-Founder, <a href="https://infosecmentors.net/">InfoSec Mentors Project</a><br/>
</p>

