{% extends "profile.html" %}

{% block content %}
    <section style="text-align:center"><h1>Preamble</h1></section>
    <div id="about">
        <p>
            The InfoSec Mentors Project is committed to providing free access to
            mentorship opportunities within the Information Security community.
            In order to achieve this goal we felt it necessary to lay out the
            terms by which this site should be used, and to demystify any questions,
            concerns, or expectations as it relates to using this service. <br/><br/>
        </p>
        <p>
            The onus for developing this terms of service stems from a desire to protect
            the Co-Founders, the Project and its contributors, as well as the Mentors
            from facing frivolous lawsuits as a result of participating in and using this
            service. If at any time you have questions related to, or disagree with the
            Terms of Service laid out below, please let us know - contact information for
            the Co-Founders is available on the "About" page. <br/><br/>

            Likewise, we have provided participants with the ability to delete their profile
            under the "Settings" portion of the website if at any time a participant should
            wish to end their use of the service.
        </p>
    </section>
    <section style="text-align:center"><h1>Terms of Service</h1></section>
    <div id="about">
            These Terms of Service set forth the obligtations relating to your use of the
            website <a href="https://infosecmentors.net">https://infosecmentors.net</a>
            (the "Site"), which was founded by Jimmy Vo and Keith Hoodlet (the "Co-Founders"),
            is owned and operated by the InfoSec Mentors Project and its contributors (the "Project"),
            and is made possible by the participation of individuals from the community (the "Mentor").

            <br/><br/>

            Please read these Terms of Service carefully before using the Site, as <b>your use of
            the Site is expressly conditioned upon your acceptance of these Terms of Service</b>.
            Do not use this Site or the services it provides if you do not fully agree with the terms
            and conditions set forth herein. If you have any questions about these Terms of Service,
            please contact the Co-Founders using the information provided on the "About" page.<br/><br/>

            1.) <b>Privacy:</b> You freely grant the Co-Founders the right to collect individual
            and Site-wide usage metrics for the purposes of improving the Project, enhancing the
            Site, and/or for speaking publicly about the Site, the Project, or the concept of Mentorship.
            You acknowledge and grant this right with the understanding that information disclosed
            about the Site or the Project shall be done utilizing anonymized data. You further
            acknowledge that the Co-Founders must provide Law Enforcement with Site data upon
            lawful request, and that the Co-Founders will seek legal guidance and perform reasonable
            scrutiny of such requests prior to complying with aforementioned lawful requests.
            Please note that the Site does not make use of any third party software to collect usage
            metrics of any kind. <br/><br/>

            2.) <b>Use of the Site:</b> You agree to use the Site for only legitimate purposes.
            You agree to provide only truthful and accurate information to the Site. You further agree
            that you will not violate any copyright or other laws with respect to your use of the Site.
            Additionally, you acknowledge that your use of the Site is at the discretion of the
            Co-Founders, who at any time and for any reason may terminate your use of the Site.<br/><br/>

            3.) <b>Limitation of Liability:</b> The Site, the Project, the Co-Founders, and/or the
            Mentor assumes no responsibility and shall not be liable for any damages that occur
            - either real or perceived - based upon your use of the Site, including but not
            limited to (i) damages to your computer equipment or other property; and (ii) any and
            all losses, injuries, or claims of any kind resulting directly or indirectly from your
            use of the Site. You acknowledge that any services provided by the Site, the Project,
            the Co-Founders, and/or the Mentor pursuant this agreement are free of charge and in
            good faith.<br/><br/>

            You shall not at any time be obliged to act on any information, suggestion, advice
            or guidance provided by the Mentor as part of your mentorship arrangement. If and to
            the extent that you act on such information, suggestion, advice, or guidance given by
            the Mentor, you acknowledge that you do so at your own risk, and hereby unconditionally
            and irrevocably waive any rights of action you may have against the Mentor, the Site,
            the Project, and/or the Co-Founders. If you should encounter harassment or other negative
            interactions with a Mentor through your use of the Site, it is expected that you will
            inform the Co-Founders so that they might investigate and take appropriate action.<br/><br/>

            4.) <b>Indemnification:</b> To the maximum extent allowed by law, you shall defend and
            indemnify the Project, the Site, and/or the Co-Founders against any claim, loss,
            cause of action or demand, including attorney fees, brought against the Project, the
            Site, and/or the Co-Founders by any third part as a result of your use of the Site.<br/><br/>

            5.) <b>Applicable Law:</b> These Terms of Service shall be governed by, and construed
            in accordance with, the internal laws of the State of North Carolina. Any legal action
            or proceeding with respect to these Terms of Service shall be brought only in the circuit
            courts of Charlotte, North Carolina, or the United States District Court for the District
            of Charlotte, North Carolina. By your use of the Site, you hereby accept, generally and
            unconditionally, the jurisdiction of the aforementioned courts. The Parties herby irrevocably
            waive any objection, including, without limitation, any forum non conveniens, which any of
            them may now or hereafter have to the bringing of such action or proceeding in such respective
            jurisdictions.
    </div>

{% endblock %}
